Arduino/ArduinoOutput/*
**/CMakeFiles/*
Python/GoldBagDetector/image.jpg
Python/GoldBagDetector/latest_detection_debug.jpg
Python/GoldBagDetector/training-images

# Build files
build/
devel/
devel_isolated/
el/
el_isolated/

bin/
lib/
msg_gen/
srv_gen/
*.pyc
*.cache
