<launch>
    <!--IMU arduino serial-->
    <node name="serial_node_imu" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <!--IMU baud-->
        <param name="port" value="/dev/ttyUSB2"/>
        <param name="baud" value="115200"/>
        <param name="recal" value="false"/>
    </node>

    <!--Distance and bump sensors arduino serial-->
    <node name="serial_node_dist" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="57600"/>
    </node>

    <!--Remote control arduino serial-->
    <node name="serial_node_rc" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB4"/>
        <param name="baud" value="57600"/>
    </node>

    <!--GPS and Odometry sensors arduino serial-->
    <node name="serial_node_gps_odom" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="57600"/>
    </node>

    <!--Motors controller-->
    <node name="motors_controller" pkg="samana" type="motors_controller_sub.py" output="screen" respawn="true"/>

    
</launch>