<launch>
    <!--NOTE: Please read notes/arduino_ports_notes.txt file to connect Arduinos to correct usb ports-->

    <!--NOTE: Change port is conneting to different usb port-->
    <arg name="port" value="2" />
    <arg name="baud" value="115200" />

    <rosparam>
        /init_allow_rc: true
        /hoverboard/max_speed: 500
        /hoverboard/max_steer: 500
        /hoverboard/max_accel_lin: 2000
        /hoverboard/max_accel_ang: 4000
    </rosparam>

    <!--Maxed out setting-->
    <!--<rosparam>
        /init_allow_rc: true
        /hoverboard/max_speed: 1000
        /hoverboard/max_steer: 1000
        /hoverboard/max_accel_lin: 100000
        /hoverboard/max_accel_ang: 100000
    </rosparam>-->
    
    <!--GPS and Odometry sensors arduino serial and republisher-->
    <node name="repub_odom" pkg="samana" type="republish_odom.py" output="screen" respawn="true"/>
    <node name="serial_node_gps_odom" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino$(arg port).1.2"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <!--IMU arduino serial and republisher-->
    <node name="repub_imu" pkg="samana" type="republish_imu.py" output="screen" respawn="true"/>
    <node name="serial_node_imu" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino$(arg port).1.4"/>
        <param name="baud" value="$(arg baud)"/>
        <param name="recal" value="false"/>
    </node>

    <!--Remote control arduino serial and controller-->
    <node name="motors_controller" pkg="samana" type="motors_controller.py" output="screen" respawn="true"/>
    <include file="$(find samana)/launch/hoverboard_pids.launch"/>
    <node name="rc_main" pkg="samana" type="rc_main.py" output="screen" respawn="true"/>
    <node name="serial_node_rc" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino$(arg port).1.3"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <!--Distance and bump sensors arduino serial-->
    <node name="repub_sonar_bump" pkg="samana" type="republish_sonar_bump.py" output="screen" respawn="true"/>
    <node name="serial_node_dist" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino$(arg port).4"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <!--Arm control arduino serial and controller-->
    <node name="arm_controller" pkg="samana" type="arm_controller.py" output="screen" respawn="true"/>
    <node name="serial_node_arm" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino$(arg port).2"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <!--Text to speech node-->
    <node name="text_to_speech" pkg="samana" type="text_to_speech.py" output="screen" respawn="true"/>
</launch>
