 <launch>
    <!--Rqt-->
    <!--<node name="pos_vel_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="
                /vel_pid/setpoint/data
                /vel_pid/state/data
                /vel_pid/control_effort

             "
              />-->
                <!--/yaw_pid/setpoint/data
                /yaw_pid/state/data
                /yaw_pid/control_effort-->

    <!--           FOR TUNING              -->
    <!--Use rqt_multiplot instead. Params at config_viz-->
    <!--<node name="multiplot_graph" pkg="rqt_multiplot" type="rqt_multiplot"/>-->
    <!--<node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />-->
    
    <!--Velocity PID-->
    <!--<node name="controller" pkg="pid" type="controller" ns="vel_pid" output="screen" >-->
    <node name="controller" pkg="pid" type="controller" ns="vel_pid" respawn="true">
      <rosparam>
        node_name: vel_pid_node
        Kp: 0.2
        Ki: 1.0
        Kd: 0.00
        upper_limit: 1
        lower_limit: -1
        windup_limit: 0.35
        topic_from_controller: control_effort
        topic_from_plant: state
        setpoint_topic: setpoint
        max_loop_frequency: 120.0
        min_loop_frequency: 80.0
        setpoint_timeout: 0.1
      </rosparam>
     </node>

    <!--Yaw PID-->
    <!--<node name="controller" pkg="pid" type="controller" ns="yaw_pid" output="screen" >-->
    <node name="controller" pkg="pid" type="controller" ns="yaw_pid" respawn="true">
      <rosparam>
        node_name: yaw_pid_node
        <!--Tuned with scale factor f=max_vel/max_ang_vel = 0.26-->
        <!--Taking vel pid tune and multiplying by f. Also tested work well-->
        Kp: 0.052
        Ki: 0.26
        Kd: 0.00
        upper_limit: 1
        lower_limit: -1
        windup_limit: 0.3
        topic_from_controller: control_effort
        topic_from_plant: state
        setpoint_topic: setpoint
        max_loop_frequency: 120.0
        min_loop_frequency: 80.0
        setpoint_timeout: 0.1
      </rosparam>
     </node>
</launch>