 <launch>
    <!--Rqt-->
    <node name="pos_vel_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="
                /vel_pid/setpoint/data
                /vel_pid/state/data
                /vel_pid/control_effort
                /yaw_pid/setpoint/data
                /yaw_pid/state/data
                /yaw_pid/control_effort
             "
              />

    <node name="reconfig" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />
    
    <!--Velocity PID-->
    <node name="controller" pkg="pid" type="controller" ns="vel_pid" output="screen" >
      <rosparam>
        node_name: vel_pid_node
        Kp: 0.4
        Ki: 0.004
        Kd: 0.004
        upper_limit: 1
        lower_limit: -1
        windup_limit: 1
        topic_from_controller: control_effort
        topic_from_plant: state
        setpoint_topic: setpoint
        max_loop_frequency: 80.0
        min_loop_frequency: 120.0
        setpoint_timeout: 4.0
      </rosparam>
     </node>

    <!--Yaw PID-->
    <node name="controller" pkg="pid" type="controller" ns="yaw_pid" output="screen" >
      <rosparam>
        node_name: yaw_pid_node
        Kp: 0.001
        Ki: 0.00001
        Kd: 0.0001
        upper_limit: 1
        lower_limit: -1
        windup_limit: 1
        topic_from_controller: control_effort_yaw
        topic_from_plant: state_yaw
        setpoint_topic: setpoint_yaw
        max_loop_frequency: 80.0
        min_loop_frequency: 120.0
        setpoint_timeout: 4.0
      </rosparam>
     </node>
</launch>