<launch>
    <!-- Run the map server --> 
    <!--TODO change to event map for event-->
    <!--<arg name="map_file" value="room_clean.yaml"/>-->
    <arg name="map_file" value="empty_100.yaml"/>
    <!--<arg name="map_file" value="event_empty_100.yaml"/>-->
    <!--<arg name="map_file" value="event_precise_100.yaml"/>-->
    <!--<arg name="map_file" value="event_padded4_100.yaml"/>-->

    <!--Map Server-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find samana)/maps/$(arg map_file)" respawn="true"/>

    <!--Move Base-->
    <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
        <!--Remap topics | Use pure odometry just in case if IMU orientations is lost-->
        <remap from="/odom" to="/odom"/>

        <!--Move base-->
        <rosparam file="$(find samana)/config/move_base_params.yaml" command="load" /> 

        <!--Local and Global planner-->
        <rosparam file="$(find samana)/config/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find samana)/config/base_global_planner_params.yaml" command="load" />

        <!--Costmap-->
        <rosparam file="$(find samana)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find samana)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find samana)/config/costmap_local_params.yaml" command="load" />
        <rosparam file="$(find samana)/config/costmap_global_params.yaml" command="load" /> 
    </node>
</launch> 