<launch>
  <arg name="model" default="$(find samana)/robot_description/urdf/samana.xml"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find samana)/robot_description/rviz_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!--Robot model-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!--Distances-->
  <node name="distance_viz" pkg="samana" type="visualize_distances.py" output="screen"/>
  <!--Distances bag-->
  
  <!--Map-->
  <!-- Static fake TF transform -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="static_tf_fake" args="0 0 0 0 0 0 map base_link" />

</launch>
