<launch>
  <arg name="model" default="$(find samana)/robot_description/urdf/samana.xml"/>
  <arg name="rvizconfig" default="$(find samana)/rviz_configs/rviz_config.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!--Robot model-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false" />


  <!--Distances. Obsolete (but can be used) because Range massages are published for mapping-->
  <!--<node name="distance_viz" pkg="samana" type="visualize_distances.py" output="screen"/>-->

  <!--Static /map to /odom transform-->
  <node name="stf_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 map odom" />

</launch>
