<launch>
    <!--Set to true if using bag file-->
    <param name="use_sim_time" value="false" />

    <!--Won't work in same launch file. Launch it separatly-->
    <!--<node name="kill_all_nodes" pkg="samana" type="kill_all_nodes.py" output="screen"/>-->

    <!--Data reading and decoding from Arduinos and control nodes-->
    <include file="$(find samana)/launch/arduino_start.launch"/>

    <!--Rviz visualization for debug-->
    <include file="$(find samana)/launch/rviz_visualization.launch"/>

    <!--Robot localization-->
    <include file="$(find samana)/launch/nav_sat.launch"/>

    <!--Mapping and path planning-->
    <include file="$(find samana)/launch/move_base.launch"/>
    

    <!--Helper scripts-->
    <!--<node name="helper_cmd_gui" pkg="samana" type="helper_cmd_gui.py"/>-->


    <!--Rqt graph-->
    <!--<node name="vel_plot" pkg="rqt_plot" type="rqt_plot"
        args="
                /odom/twist/twist/linear/x
                /odom/twist/twist/angular/z
             "
              />-->

    <!--Publish transform from odom to base_link using raw odometry data-->
    <!--Obsolete because ekf_localization_node publishes it's own tf of odemetry-->
    <!--<node name="odom_tf" pkg="samana" type="odom_tf" output="screen" respawn="true"/>-->
</launch>