<launch>
    <arg name="use_arduinos" default="true"/>

    <!--Robot model and tf transforms-->
    <arg name="model" default="$(find samana)/robot_description/urdf/samana.xml"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!--Data reading and decoding from Arduinos and control nodes-->
    <include file="$(find samana)/launch/arduino_start.launch">
        <arg name="use_arduinos" value="$(arg use_arduinos)"/>
    </include>

    <!--Robot localization-->
    <include file="$(find samana)/launch/localization.launch"/>

    <!--Mapping and path planning-->
    <include file="$(find samana)/launch/move_base.launch"/>
</launch>