<launch>
    <node name="odom_tf" pkg="samana" type="odom_tf" output="screen" respawn="true"/>
    <!--Arm control arduino serial and controller-->
    <!--<node name="arm_controller" pkg="samana" type="arm_controller.py" output="screen" respawn="true"/>
    <node name="serial_node_arm" pkg="rosserial_arduino" type="serial_node.py" output="screen" respawn="true">
        <param name="port" value="/dev/ttyUSB-arduino2.2"/>
        <param name="baud" value="115200"/>
    </node>-->
</launch>